/* src/components/Header.css */

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.quora-header {
  background-color: #b92b27;
  color: #fff;
  padding: 10px 0;
}

.quora-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.quora-header__logo {
  font-size: 24px;
  font-weight: bold;
}

.quora-header__search input {
  padding: 8px;
  border: none;
  border-radius: 5px;
  width: 200px;
}

.quora-header__nav {
  display: flex;
}

.quora-header__nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.quora-header__nav a:hover {
  text-decoration: underline;
}



.post_modal{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 5px;
  /* border-top: 1px solid lightgray;  */}
  .post_modal h5{
        margin-top: 8px;
        margin-left: 10px;
  }

  .modal_buttons {
  display: flex;
  /* flex-direction: column-reverse; */
  /* margin-top: 10px; */
  margin-bottom: 10px;
  align-items: center;
}
.quill{
  width: 100%;
  height: 350px;
}

.search-Button{
  background-color: white;
  color: #198754;
}
.search-Button:hover{
  color: white;
  background-color: #198754;
}

